asyncio==3.4.3
motor==3.3.2
pyrogram-dev==2.1.0
python-dotenv==1.0.1
py-tgcalls==1.2.9
tgcrypto==1.2.5
youtube-search-python
yt-dlp==2023.12.30
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
